<div class="holiday-table">
    <h3>공휴일 목록</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
            {% for holiday in holidays %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ holiday.name }}</td>
                    <td>{{ holiday.date|date:"Y-m-d" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
