.container {
    display: flex;
    flex-direction: row;
    /* 가로배치 */
    gap: 20px;
    margin: 20px;
}
.schedule {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.notes p{
    display: flex; 
    align-items: center; /* 수직방향으로 가운데 정렬 */
    gap: 10px;
}

.ui.calendar {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.container .schedule .content h1 span{
    display: block;
}

.search{
    padding: 20px;
    border: 1px solid #ddd;
}

.search p{
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 10px
}

/* white-space: nowrap; 텍스트가 한 줄(세로)로 표시됨. */
/* text-align: center;로 텍스트를 가로로 중앙 정렬됨. */
.search button{
    white-space: nowrap;
    text-align: center;
}

.table th, .table td {
    white-space: nowrap;
    text-align: center;
}

.year-month{
    display: flex;
    align-items: center;
    gap: 10px
}

.footer {
    text-align: center; /* 가운데 정렬 */
    padding: 10px 0; /* 위아래 여백 추가 */
    background-color: #f8f9fa; /* 배경 색상 */
    color: #333; /* 텍스트 색상 */
    font-size: 0.9rem; /* 글자 크기 */
    border-top: 1px solid #ddd; /* 상단에 구분선 */
}

.footer p {
    margin: 0; /* 여백 제거 */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
}